body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.form-label {
  display: block;
}

.avater-img img {
  max-width: 40px;
}

.delProfileBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 3;
}

.loaderWrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
